.sequenceContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto repeat(4, 1fr); /* the first row is auto height, remaining 4 rows should be the same height */
  grid-template-columns: 120px repeat(auto-fit, minmax(4rem, 1fr)); /* fixed 120px width of label, others evenly spaced */
  text-align: center;
  align-items: center;
}

.column {
  display: contents;
}

p {
  padding: 1rem;
}

.instrumentName {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

.instrumentName p {
  padding-right: 1rem;
}

.column > p:first-child {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  font-weight: bold;
}
